In [3]:
numbers = [10, 20, 30, 40, 50]

print("bhumika ec10:", numbers)

bhumika ec10: [10, 20, 30, 40, 50]

In [4]:
number = [10,20,30,40,50]
first_element = number[0]
last_element = number[-1]
midle_element = number[len(number)//2]
print("bhumika ec10:first element:",first_element)
print("bhumika ec10:second element:",last_element)
print("bhumika ec10:midle element:",midle_element)

bhumika ec10:first element: 10
bhumika ec10:second element: 50
bhumika ec10:midle element: 30

In [5]:
number = [10,20,30,40,50]
number.append(60)
number.insert(2,5)
print("bhumika ec10:",number)

bhumika ec10: [10, 20, 5, 30, 40, 50, 60]

In [7]:
number = [70,80,90,60]
number.remove(60)
removed_element = number.pop(2)
print("bhumika ec10:upated list:",number)
print("bhumika ec10:poped element:",removed_element)

bhumika ec10:upated list: [70, 80]
bhumika ec10:poped element: 90

In [9]:
numbers = [50, 10, 40, 30, 20]

ascending_order = sorted(numbers)

descending_order = sorted(numbers, reverse=True)
print("bhumika ec10: Ascending order:", ascending_order)
print("bhumika ec10: Descending order:", descending_order)

bhumika ec10: Ascending order: [10, 20, 30, 40, 50]
bhumika ec10: Descending order: [50, 40, 30, 20, 10]

In [10]:
numbers = [10, 20, 30, 40, 50]

numbers.reverse()
print("bhumika ec10: Reversed list:", numbers)

bhumika ec10: Reversed list: [50, 40, 30, 20, 10]

In [11]:
def sum_of_list(numbers):
    return sum(numbers)

numbers = [10, 20, 30, 40, 50]

total = sum_of_list(numbers)

print("bhumikaec10: Sum of list elements:", total)

bhumikaec10: Sum of list elements: 150

In [12]:
def find_max_min(numbers):
    maximum = max(numbers)
    minimum = min(numbers)
    return maximum, minimum

numbers = [10, 20, 5, 40, 50]

largest, smallest = find_max_min(numbers)

print("bhumika ec10: Largest number:", largest)
print("bhumika ec10: Smallest number:", smallest)

bhumika ec10: Largest number: 50
bhumika ec10: Smallest number: 5

In [13]:
def count_occurrences(lst, element):
    return lst.count(element)

numbers = [10, 20, 30, 10, 40, 50, 10, 20, 10]

element_to_count = 10

count = count_occurrences(numbers, element_to_count)

print("bhumika ec10: The element", element_to_count, "appears", count, "times in the list.")

bhumika ec10: The element 10 appears 4 times in the list.

In [14]:
def merge_and_remove_duplicates(list1, list2):
    merged_list = list(set(list1 + list2))
    return merged_list

list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

merged_list = merge_and_remove_duplicates(list1, list2)

print("bhumika ec10: Merged list without duplicates:", merged_list)

bhumika ec10: Merged list without duplicates: [70, 40, 10, 50, 20, 60, 30]

In [15]:
my_tuple = (10, 20, 30, 40, 50)

first_element = my_tuple[0]
middle_element = my_tuple[2]
last_element = my_tuple[-1]

print("bhumika ec10: First element:", first_element)
print("bhumika ec10: Middle element:", middle_element)
print("bhumika ec10: Last element:", last_element)

bhumika ec10: First element: 10
bhumika ec10: Middle element: 30
bhumika ec10: Last element: 50

In [16]:
my_tuple = (10, 20, 30, 40, 50)

a, b, c, d, e = my_tuple

print("bhumika ec10: Unpacked values:", a, b, c, d, e)

bhumika ec10: Unpacked values: 10 20 30 40 50

In [17]:
my_tuple = (10, 20, 30, 40, 50)

my_list = list(my_tuple)

new_list = [60, 70, 80, 90, 100]

new_tuple = tuple(new_list)

print("bhumika ec10: Tuple to List:", my_list)
print("bhumika ec10: List to Tuple:", new_tuple)

bhumika ec10: Tuple to List: [10, 20, 30, 40, 50]
bhumika ec10: List to Tuple: (60, 70, 80, 90, 100)

In [18]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print("bhumika 10:", my_dict)

bhumika 10: {'name': 'Alice', 'age': 25, 'city': 'New York'}